@charset "UTF-8";

body, h1, h2, p {
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: 333333;
}
.body-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
button {
    background-color: transparent;
    border: none;
}
.paging {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #2E90FF;
	font-weight: normal;
}

.nowPage {
	color: #2E90FF !important;
	font-weight: bold;
}
.gray-bar{
	margin-top: 120px;
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 80px;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
        font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
/**BORDER BAR*/
.border-bar {
    padding-top: 48px;
    width: 1100px;
    margin: 0 auto;
    display: block;
    position: relative;
    border-bottom: solid 1px #D9D9D9;
}

.border-title {
    margin-top: 48px;
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
}

.customerSection .customerTable .customerTable .commonTable{
	width: 1100px;
	border-spacing: 0px;
	
}
.customerSection .customerTable .customerTable .commonTable th{
	background: #F8F8F8;
	height: 30px;
	font-size: 12px;
	color: #55555;
	
}
.customerSection .customerTable .customerTable .commonTable td{
	text-align: center;
	font-size: 12px;
	height: 30px;

}
.customerSection .customerTable{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.customerTable .customerTable .commonTable tbody tr:hover {
	background-color: #E6E6E6;
	color:#55555;
}
/**MENU*/
#category-bar {
    display: flex;
    width: 1100px;
    gap: 32px;
    overflow: auto;
}
.category-button {
    color: #BCBCbC;
    width: 550px;
    height: 66px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.category-button:hover {
    color: #000000;
    border-bottom: 2px solid #DDDDDD;
}
#active-category-button {
    color: #000000;
    border-bottom: 2px solid #000000;
}
.body-inner{
    width: 1100px;
    margin: 0 auto;
}
table{
	border-spacing: 0px;
	
}
.table th{
	background: #F8F8F8;
	height: 30px;
	font-size: 12px;
	color: #55555;
}
