@charset "UTF-8";
.content,
.content * {
  box-sizing: border-box;
}
.frame-580 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.block1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.block2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img_container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.movie-poster {
  border-radius: 5px;
  flex-shrink: 0;
  width: 259px;
  height: 337px;
  position: relative;
}
.block3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.block4{
  padding: 18px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 259px;
  position: relative;
}
.movie-name {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
}
.movie-label {
  padding: 10px 10px 14px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 259px;
  position: relative;
}
.movie-info {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: relative;
}
.block5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ticketing-button {
  background: #1a2c82;
  border-radius: 3px;
  padding: 5px 47px 5px 47px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 259px;
  height: 53px;
  position: relative;
  overflow: hidden;
  border: none;
  color: white;
}
.paging {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #324ABC;
	font-weight: normal;
}

.nowPage {
	color: #324ABC !important;
	font-weight: bold;
}