@charset "UTF-8";
a {
  text-decoration: none;
  color: #333333;
}
img {
  display: block;
}
body{
	background-color: #FFFFFF;
}
.banner-inner {
  margin: 0 auto;
  position: relative;
}

/*YOUTUBE VIDEO*/
.youtube {
  position: relative;
  height: 800px;
  background-color: #333; 
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  /* 16비율 */
  left: 50%;
  margin-left: calc(1920px / -2);
  /* 9비율 */
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  /* 16:9 영상 비율로 요소 크기 만들기! */
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  background-image: url("../images/video_cover_pattern.png");
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .inner {
  height: inherit;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}
/**MOVIE CHART*/

.movie-section{
	width: 100%;
	hegiht: 870px;
	background-color: #F8F9FA;
}
.movie-section .movie-wraper{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.movie-section .title-bar{
	display: flex;
	width: 980px;
	padding-top: 128px;
	padding-bottom: 78px;
	justify-content: center;
	align-items: center;
	gap: 480px;
}
.movie-section .title-bar .menu{
	display: flex;
	width: 357px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}
.movie-section .title-bar .menu .now-movie{
	font-size: 30px;
	color: #333333;
	margin-right: 24px;
}
.movie-section .title-bar .menu .comming-movie{
	font-size: 24px;
	color: #666666;
}
.container{
    width: 220px;
    height: 560px;
    border-radius: 5px;
    overflow: hidden;
}
.rank{
    width: 220px;
    height: 60px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.movie-poster{
    width: 220px;
    height: 300px;
    border-radius: 5px;
    background-color: #666666;
}
.movie-poster img{
	width: 220px;
    height: 300px;
    overflow:hidden;
    border-radius: 5px;
    background-color: #666666;
}
/* TITLE */
.main-info{
	height: 40px;
}
.movie_maxage img{
	width: 24px;
	height: 24px;
}
.movie_class{
	height: 40px;
	font-weight: bold;
	font-size: 18px;
}
.sub-info{
	height: 40px;
	font-size: 16px;
}
button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;
}
.ticketingBtn button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;

}
.container .rank-movie .title-area{
    width: 220px;
    height: 34px;
    font-size: 20px;
    padding: 14px 0;
    font-weight: bold;
}
.container .rank-movie .info-area{
    width: 220px;
    height: 18px;
    padding-bottom: 18px;
}
.container .rank-movie .info-area .review-rate .rate span ::after{
    content: '|';
    margin-left: 5px;
    color:#333333;
}
.container .movie-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px 24px;
}
.book-btn {
    width: 220px;
    height: 54px;
    border-radius: 5px;
    margin-right: 200px;
}
button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;
}
.book-btn .button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;

}
/*PROMOTION*/
.navi .promotion {
  width: 980px;
  margin: 0 auto;
  padding-top: 48px;
  min-height: 280px;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.navi .promotion.hide {
  height: 0;
}
.navi .promotion .swiper-container {
  width: calc(1100px * 4 + 30px); /* 4개의 슬라이드와 3개의 여백(10px * 3)을 포함한 값 */
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -490px; /* 가운데 정렬을 위한 계산 */
}
.navi .promotion .swiper-slide {
  position: relative;
  opacity: 1;
  transition: opacity 1s;
}
.navi .promotion .swiper-slide-active {
  opacity: 1;
}
.navi .promotion .swiper-slide .btn {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.navi .promotion .swiper-prev,
.navi .promotion .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 120px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.navi .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.navi .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.navi .promotion .swiper-prev:hover,
.navi .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/*BOTTOM SECTION*/
.store-section{
	display: flex;
	width: 980px;
	align-items: flex-start;
	margin: 0 auto;
	gap: 88px;
	margin-bottom: 120px;
}
.store-section .left-section{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 400px;
	height: 410px;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	left: 0;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
	flex-shrink: 0;
}
.store-section .left-section .sub-title{
	display: flex;
	padding: 24px 30px 24px 20px;
	align-items: center;
	gap: 200px;
	align-self: stretch;
}
.store-section .left-section .sub-title .product_store{
	color: #333333;
	font-weight: bold;
	font-size: 24px;
}
.store-section .left-section .sub-title .more{
	color: #666666;
	font-weight: bold;
	font-size: 14px;
}
.store-section .left-section .product{
	width: 400px;
	
}
.store-section .left-section .product tr{
	padding-bottom: 48px;
	height: 148px;
	padding-left: 36px;
}
.store-section .left-section .product .product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
}
.store-section .left-section .product .product_img{
	width: 130px;
	max-height: 100px;
	padding-left: 20px;
}
.store-section .left-section .product .product_img img{
	width: 100px;
	min-height: 100px;
	over-flow: hidden;
	background-color: #BCBCBC;
}
.store-section .left-section .product .product_info {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	gap: 20px;
	padding-bottom: 20px;
}
.store-section .left-section .product .product_info .product_price {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
.store-section .right-section{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 490px;
	height: 410px;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	left: 0;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
	flex-shrink: 0;
}
.store-section .right-section .sub-title{
	display: flex;
	padding: 24px 30px 24px 20px;
	align-items: center;
	gap: 286px;
	align-self: stretch;
}
.store-section .right-section .sub-title .product_store{
	color: #333333;
	font-weight: bold;
	font-size: 24px;
}
.store-section .right-section .sub-title .more{
	color: #666666;
	font-weight: bold;
	font-size: 14px;
}
.store-section .right-section .product{
	width: 400px;
	
}
.store-section .right-section .product tr{
	padding-bottom: 48px;
	height: 148px;
	padding-left: 36px;
}
.store-section .right-section .product .product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
}
.store-section .right-section .product .product_img{
	width: 130px;
	max-height: 100px;
	padding-left: 20px;
}
.store-section .right-section .product .product_img img{
	width: 100px;
	min-height: 100px;
	over-flow: hidden;
	background-color: #BCBCBC;
}
.store-section .right-section .product .product_info {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	gap: 20px;
	padding-bottom: 20px;
}
.store-section .right-section .product .product_info .product_price {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

