@charset "UTF-8";
@charset "UTF-8";
a {
  text-decoration: none;
  color: #333333;
}
img {
  display: block;
}
body{
	background-color: #FFFFFF;
}
/*INNER*/
.notice-inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/*YOUTUBE VIDEO*/
.youtube {
  position: relative;
  height: 800px;
  background-color: #333;
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  /* 16비율 */
  left: 50%;
  margin-left: calc(1920px / -2);
  /* 9비율 */
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  /* 16:9 영상 비율로 요소 크기 만들기! */
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  background-image: url("../images/video_cover_pattern.png");
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .inner {
  height: inherit;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}
/**MOVIE CHART*/
.movie-section{
	width: 100%;
	hegiht: 870px;
	background-color: #F8F9FA;
}
.movie-section .movie-wraper{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.movie-section .title-bar{
	display: flex;
	width: 1100px;
	padding-top: 128px;
	padding-bottom: 78px;
	justify-content: center;
	align-items: center;
	gap: 600px;
}
.movie-section .title-bar .menu{
	display: flex;
	width: 357px;
	padding: 10px 0px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}
.movie-section .title-bar .menu .now-movie{
	font-size: 30px;
	color: #333333;
	margin-right: 24px;
}
.movie-section .title-bar .menu .comming-movie{
	font-size: 24px;
	color: #666666;
}
.container{
    width: 220px;
    height: 560px;
    border-radius: 5px;
    overflow: hidden;
}
.container .rank-movie .rank{
    width: 220px;
    height: 60px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.container .rank-movie .movie-list-info{
    width: 220px;
    height: 300px;
    border-radius: 5px;
    background-color: #666666;
}
/* TITLE */
.container .rank-movie .title-area .movie_maxage img{
	width: 24px;
	height: 24px;	
}
.container .rank-movie .title-area{
    width: 220px;
    height: 34px;
    font-size: 20px;
    padding: 14px 0;
    font-weight: bold;
}
.container .rank-movie .info-area{
    width: 220px;
    height: 18px;
    padding-bottom: 18px;
}
.container .rank-movie .info-area .review-rate .rate span ::after{
    content: '|';
    margin-left: 5px;
    color:#333333;
}
.container .movie-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px 24px;
}
.book-btn {
    width: 220px;
    height: 54px;
    border-radius: 5px;
    margin-right: 200px;
}
button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;
}
.book-btn .button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;

}
/*PROMOTION*/
.notice .ads {
  /*width: auto;*/
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.notice .ads.hide {
  height: 0;
}
.notice .ads .swiper-slide .img{
	width: 800px;
	height: 338px;
	overflow: hidden;
}
.notice .ads .swiper-container {
  /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
  width: calc(800px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .ads .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}

.notice .ads .swiper-slide-active {
  opacity: 1;
}
.notice .ads .swiper-slide .btn {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .ads .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.notice .ads .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../image/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .ads .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .ads .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../image/promotion_slide_pager_on.png");
}
.notice .ads .swiper-prev,
.notice .ads .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
/* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/*BOTTOM SECTION*/
.store-section{
	display: flex;
	width: 1100px;
	padding: 82px 0px 78px 0px;
	align-items: flex-start;
	gap: 48px;
}
.left-section{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	height: 412px;
	position: relative;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sub-title{
	padding: 10px 0px 42px 0px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 328px;
	position: relative;
}
.sub-title h3{
	  color: #333333;
  text-align: left;
  font: 600 24px "Inter", sans-serif;
  position: relative;
}
/*SCROLL TO TOP*/
#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
