@charset "UTF-8";
a {
	text-decoration: none;
}
body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #333333;
}
img {
	display: block;
}
.body-inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

/**GRAY BAR*/
a{
text-decoration: none;
color: 333333;
}
.gray-bar{
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
    margin-top: 120px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 0;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
        font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
	/**BORDER BAR*/
	.border-bar {
		margin-top: 300px;
		width: 1100px;
		margin: 0 auto;
		display: block;
		position: relative;
		border-bottom: solid 1px #D9D9D9;
	}

	.border-title {
		margin-top: 78px;
		display: block;
		margin-bottom: 20px;
		font-size: 24px;
	}
	
	/**CONTENT*/
	#intro-container {
	display: flex;
	margin: 5% auto;
	width: 1100px;
	}
	
	#intro-box1{
	flex:1;
	margin: 0px auto;
	}
	
	#intro-box2{
	flex:2;
	margin-left: 7%;
	margin-right: 3%;
	}
	
	.amorTheaterImg {
	width: 500px;
	height: 300px;
	}