@charset "UTF-8";
a, a:link, a:active, a:visited, a:focus, a:before{
	text-decoration: none;
	color: #333333;
}
.gray-bar{
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
    margin-top: 120px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 0;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
    font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.body-inner{
    width: 1100px;
    margin: 0 auto;
}
.movieCome a{
	color: #000000;
}
.movieNow a{
	color: #BCBCBC;
}
.left-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 450px;
  position: relative;
}
.left-title .movieNow {
  color: #BCBCBC;
  font-family: Inter;
  font-size: 33px;
  line-height: normal;
  position: relative;
  width: 210px;
  cursor: pointer;
}
.left-title .movieCome{
	color: #000000;
	font-size: 33px;
	line-height: normal;
	width: 240px;
	cursor: pointer;
}
.right-button {
  padding: 5px 4px 5px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 226px;
  height: 40px;
  position: relative;
  
}
.sort1, .sort2 {
    background-color: transparent;
    border: none;
    color: #BCBCBC;
    text-decoration: none;
    cursor: pointer;
}
.sort:hover {
    color: #000000;
    border: none;
    border-bottom: 2px solid #DDDDDD;
}

.middle{
	padding-bottom: 18px;   
}
.tmiddle{
	font-size: 33px;
}
/* sort1 또는 sort2가 클릭된 상태 */
.sort1.active, .sort2.active {
    color: #333333;
}

.movie-section{
	width: 100%;
	hegiht: 870px;
	padding-bottom: 20px;
}
/*MOVIE TITLE*/
.movie-title{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.movie-title .title-bar{
	display: flex;
	width: 1100px;
	padding-top: 128px;
	padding-bottom: 78px;
	justify-content: center;
	align-items: baseline;
	gap: 300px;
}
.movie-title .title-bar1{
	display: flex;
	width: 550px;
	padding-top: 128px;
	padding-bottom: 78px;
	justify-content: center;
	align-items: center;
	gap: 500px;
}
.movie-title .title-bar .menu{
	display: flex;
	width: 357px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}
.movie-section .title-bar .menu .now-movie{
	font-size: 30px;
	color: #333333;
	margin-right: 24px;
}
.movie-section .title-bar .menu .comming-movie{
	font-size: 24px;
	color: #666666;
}
/*MOVIE CHART*/
.container{
  display: grid;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  gap: 80px 20px;
  grid-template-columns: repeat(4, 230px);
}
.chart{
	width: 980px;
	margin: 0 auto;
	height: auto;
	position: relative;
	margin-bottom: 170px;
}

.rank{
    width: 230px;
    height: 60px;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}
.movie_poster{
    width: 230px;
    height: 300px;
    border-radius: 5px;
    background-color: #666666;
}
.movie_poster img{
	width: 230px;
    height: 300px;
    overflow:hidden;
    border-radius: 5px;
    background-color: #666666;
}
/* TITLE */
.movie_maxage img{
	width: 24px;
	height: 24px;
}
.container .movie-wrapper .
.sub-info{
	height: 40px;
	font-size: 16px;
}
.container .rank-movie .title-area{
    width: 230px;
    height: 34px;
    display: flex;
    font-size: 20px;
    padding: 14px 0;
    font-weight: bold;
    align-items: center;
}
.container .rank-movie .title-area .movie_name{
    padding-left: 12px;
}
.container .rank-movie .info-area{
    width: 230px;
    height: 18px;
    padding-bottom: 18px;
    vertical-align: middle;
}
.material-icons{
	color: #FECD00;
	vertical-align: middle;
}
.container .rank-movie .info-area .movie_audience .rate span ::after{
    content: '|';
    margin-left: 5px;
    color:#333333;
}
button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    width: 230px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;
}
.ticketing-btn .button{
    background-color: #1A2C82;
    color: #FFFFFF;
    border: none;
    height: 48px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 0 18px 0;

}
.paging {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #324ABC;
	font-weight: normal;
}

.nowPage {
	color: #324ABC !important;
	font-weight: bold;
}
