@charset "UTF-8";
/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
button {
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible;
    background-color: transparent;
    border: none;
}
a{
	text-decoration: none;
	color: 333333;
}
 a:hover, a:active {text-decoration: none; color:#333333;}
.content{
	border: none;
	resize: none;
	background-color: #bcbcbc;
	overflow-y:scroll
}
.content:focus{
	outline:none
}
.gray-bar{
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
    margin-top: 120px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 0px;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
        font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.body-inner{
    width: 1100px;
    margin: 0 auto;
}

.movie_poster img{
  border-radius: 5px;
  flex-shrink: 0;
  width: 336px;
  height: 482px;
  position: relative;
}
.right-section {
  padding: 0px 0px 34px 0px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 590px;
  height: 482px;
  position: relative;
}
.title-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 590px;
  position: relative;
}
.movie_name{
	font-size: 30px;
	font-weight: bold;
}
. {
  color: #000000;
  text-align: left;
  font: 400 28px "Inter", sans-serif;
  position: relative;
}
.movie-info {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 590px;
  position: relative;
}
.movie_opendate {
  color: #000000;
  text-align: left;
  font: 400 20px;
  position: relative;
}
.time-icon {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.movie_runningtime {
  color: #000000;
  text-align: left;
  font: 400 20px;
  position: relative;
}
.movie_maxage {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie_maxage img{
	width: 22px;
	height: 22px;
	padding-top: 4px;
	position: relative;
}
.movie_maxage .ageTxt{
	width: 120px;
	text-align: left;
	position: relative;
}
.movie_audience {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}
.movie_content2 {
  color: #979797;
  text-align: left;
  font: 600 18px/170.52% "Inter", sans-serif;
  position: relative;
  width: 590px;
  height: 137px;
}
.btn-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.movie_content .txtarea {
    margin: 27px 0 27px;
    overflow: scroll;
    height: 200px;
    font-weight: normal;
}
textarea{
	width: 550px;
	height: 250px;
}
.movie-content {
    width: 980px;
    margin: 0 auto;
}
.movie-content .movie-wrap{
    margin-top: 140px;
    min-height: 600px;
    display: flex;
  flex-direction: row;
  gap: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 980px;
  height: 601px;
  position: relative;
}

textarea{
	width: 550px;
	height: 250px;
}
/*BUTTON*/
.btn-wrap .blue-btn {
    background-color: #1A2C82;
    color: #C7E3FF;;
    border: none;
    padding: 18px 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 200px;
    text-align: center;
}
em {
    font-style: normal;
    font-weight: normal;
    font-family: inherit;
}
p::after{
    content: '  |';
    margin-left: 5px;
    color:#333333;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.meterial-icons{
	width: 24px;
	height: 24px;
}
.movie-detail{
	width: 980px;
	margin: 0 auto;
	height: 1000px;
}
.infodiv {
	text-align: center;
}
.infoBtn {
	width: 400px;
	padding: 31px 150px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.grayspace {
	text-indent: 20px;
	display: flex;
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding: 78px 167px 24px 167px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	background-color: #EDEDED;
}


