@charset "UTF-8";
/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
button {
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible;
    background-color: transparent;
    border: none;
}
a{
	text-decoration: none;
	color: 333333;
}
 a:hover, a:active {text-decoration: none; color:#333333;}
.content{
	border: none;
	resize: none;
	background-color: none;
	font-style: '맑은 고딕';
	line-height: 20px;
	font-size: 15px;
}
.content:focus{
	outline:none
}
.gray-bar{
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
    margin-top: 120px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 0px;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
        font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.body-inner{
    width: 1100px;
    margin: 0 auto;
}

.movie_poster img{
  border-radius: 5px;
  flex-shrink: 0;
  width: 336px;
  height: 482px;
  position: relative;
}
.right-section {
  padding: 0px 0px 34px 0px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 590px;
  height: 482px;
  position: relative;
}
.title-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 590px;
  position: relative;
}
.movie_name{
	font-size: 30px;
	font-weight: bold;
}
. {
  color: #000000;
  text-align: left;
  font: 400 28px "Inter", sans-serif;
  position: relative;
}
.movie-info {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 590px;
  position: relative;
}
.movie_opendate {
  color: #000000;
  text-align: left;
  font: 400 20px;
  position: relative;
}
.time-icon {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.movie_runningtime {
  color: #000000;
  text-align: left;
  font: 400 20px;
  position: relative;
}
.movie_maxage {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie_maxage img{
	width: 22px;
	height: 22px;
	padding-top: 4px;
	position: relative;
}
.movie_maxage .ageTxt{
	width: 120px;
	text-align: left;
	position: relative;
}
.movie_audience {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}
.movie_content2 {
  color: #979797;
  text-align: left;
  font: 600 18px/170.52% "Inter", sans-serif;
  position: relative;
  width: 590px;
  height: 137px;
}
.btn-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.movie_content .txtarea {
    overflow: scroll;
    height: 200px;
    font-weight: normal;
}
textarea{
	width: 550px;
	height: 250px;
}
.movie-content {
    width: 980px;
    margin: 0 auto;
}
.movie-content .movie-wrap{
    margin-top: 140px;
    min-height: 600px;
    display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 980px;
  height: 601px;
  position: relative;
}

textarea{
	width: 550px;
	height: 250px;
}

#review {
	display: none;
}

#stillcontainer {
	margin: 50px auto;
}

#stillbox {
	margin: 50px auto;
}

#detailMovie {
	border-bottom: 2px solid black;
}

/*BUTTON*/
.btn-wrap .blue-btn {
    background-color: #1A2C82;
    color: #C7E3FF;;
    border: none;
    padding: 18px 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 200px;
    text-align: center;
    margin-top: 50px;
}
em {
    font-style: normal;
    font-weight: normal;
    font-family: inherit;
}
p::after{
    content: '  |';
    margin-left: 5px;
    color:#333333;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.meterial-icons{
	width: 24px;
	height: 24px;
}
.movie-detail{
	width: 980px;
	margin: 0 auto;
	height: 1000px;
}
.infodiv {
	text-align: center;
}
.infoBtn {
	width: 400px;
	padding: 31px 150px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
}

.grayspace {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #EDEDED;
}

.movieTitleInfo{
	text-align: right;
	padding-left: 500px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: bold;	
}

.movieTitleTh{
	padding-right: 50px;
	text-align: right;
	color: #8F8F8F;
}

.stillcutTitle {
	margin-left: 500px;
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.movieReviewInfo {
	margin: 0px auto;
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.movieReviewInfoTable {
	width: 800px;

	object-fit: contain;
	margin: 50px auto;
}

.moviedetailtable {
	width: 800px;
	height: 500px;
	object-fit: contain;
	margin: 50px auto;
}

.moviedetailtable tr td {
	vertical-align: middle;
}

.thumnail {
	object-fit: contain;
	height: 300px;
	width: 300px;
}

.material-icons{
color: #FFAC33;
vertical-align: middle;
}

reviewTableINfo {
	width: 1000px;
}

.reviewTableInfoThead {
	height: 100px;
	width: 1000px;
	line-height: 100px;
	text-align: center;
}

.reviewTableINfoTbody {
	text-align: center;
	width: 1000px;
	background-color: #F8F9FA;
	border-bottom: 30px solid white;
}

.reviewTableInfoTfoot {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.paging {
	height : 80px;
	margin-top: 70px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #324ABC;
	font-weight: normal;
}

.nowPage {
	color: #324ABC !important;
	font-weight: bold;
}

.reviewImg {
 	width: 200px;
	height: 193px;
	line-height: 193px;
  	object-fit: contain;
  	border: none;
  	text-align: center;
  	margin: auto;
}

.reviewTd7 {
	width: 1000px;
	hegith: 50px;
	background-color: #F8F9FA;
}

.reviewTd5 {
	width: 150px;
}
.reviewTd1 {
	width: 150px;	
}

.reviewTd {
	margin: auto;
	width: 500px;	
}

.reviewTd2 {
	width: 150px;
}

.reviewTd3 {
	height: 80px;
	line-height: 80px;
	cursor: pointer;
	color: #1A2C82;
	padding-right: 20px;
}

.reviewTdContent {
	height: 200px;
	text-align: left;
	padding: 30px 30px 70px 30px;
	vertical-align: middle;
	white-space: pre-line;
	background-color: #F8F9FA;
	border-bottom: 30px solid white;

}

.reviewTdContent2 {
	object-fit: contain;
	text-align: center;
	border: none;
	vertical-align: middle;
	background-color: #F8F9FA;
	border-bottom: 30px solid white;

}

.reviewTdContent3 {
	height: 200px;
	text-align: center;	
	vertical-align: middle;
	cursor: pointer;
	background-color: #F8F9FA;
	border-bottom: 30px solid white;

}

.smallBtn {
	border:none;
	padding-bottom: 2px;
	width: 50px;
	height: 25px;
	border-radius: 3px;
	background: #EEEEEE;
	color: #1A2C82;
	cursor: pointer;
}

.star {
	padding-bottom: 5px;
	position: relative;
	font-size: 1.3rem;
	color: white;
}
 
.starBack span {
  	position: relative;
  	background-color: #FFF0BB;
  	border-radius: 5px;
}
  
.star span {
   position: absolute; 
   left: 0; 
   color: #FFAC33; 
   overflow: hidden; 
   pointer-events: none; 
   border-radius: 5px;
  }

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }  
 
 .starAll {
 	background-color: none;
 	vertical-align: middle;
 } 
 
.name {
  	margin-top:5px;
 	line-height: 30px;
  	height: 50px;
  	margin-right: 30px;
  	margin-left: 40px;
  	float:left;
  }
  
.reviewTableINfo {
	margin: 30px auto;
}
  
.reviewtitle {
  	margin-left: 15px;
  	margin-bottom: 10px;
  	font-size: 25px;
  	font-weight: bold;
  	color: gray;
}
  
.reviewTextarea{
  	border: none;
  	border-top: 3px solid #EEEEEE;
  	border-bottom: 3px solid #EEEEEE;
  	border-left: 3px solid #EEEEEE;
  	border-right: 3px solid #EEEEEE;
  	resize: none;
  	overflow-y: scroll;
  	font-family: "맑은 고딕";
}
