@charset "UTF-8";
/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style for the contents wrapper */
.movie-content {
    width: 980px;
    margin: 0 auto;
}
.movie-content .movie-wrap{
    min-height: 460px;
}
/*MOVIE POSTER*/
.movie-content .movie-wrap .movie-poster {
    float: left;
    flex-shrink: 0;
    width: 316px;
    height: 468px;
    border-radius: 10px;
    position: relative;
    background-color: #BCBCBC;
}
.movie-content .movie-wrap .right-section{
    margin-left: 80px;
    padding-left: 300px;
}

/*MOVIE TITLE*/
.movie-content .movie-wrap .right-section .title-info {
    width: 600px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -2px;
}
.movie-content .movie-wrap .right-section .title-info .movie_name {
    font-size: 24px;
    font-weight: bold;
}
/*MOVIE INFO*/
.movie-content .movie-wrap .right-section .movie-info {
    width: 600px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -2px;
}
.movie-content .movie-wrap .right-section span{
    font-weight: bold;
}
ul{
    list-style: none;
    display: block;
}
li{
    float: left;
    margin-right: 20px;
}
/*MOVIE DETAIL*/
.movie-content .movie-wrap .movie_content{
    width: 600px;
    background-color: #BCBCBC;
}
.movie-content .movie-wrap .movie_content .txtarea {
    margin: 20px 0 27px;
    overflow: scroll;
    height: 120px;
    font-weight: normal;
}
/*BUTTON*/
.btn {
    background-color: #1A2C82;
    color: #C7E3FF;;
    border: none;
    padding: 18px 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 200px;
}
em {
    font-style: normal;
    font-weight: normal;
    font-family: inherit;
}
.movie-content .pd-wrap .pd-detail .btn-wrap {
    text-align: center;
    width: 558px;
}
p::after{
    content: '  |';
    margin-left: 5px;
    color:#333333;
}