@charset "UTF-8";
a {
	text-decoration: none;
}
body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #333333;
}
img {
	display: block;
}
.body-inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

/**BORDER BAR*/
.border-bar {
	margin-top: 300px;
	padding-top: 140px;
	width: 1100px;
	margin: 0 auto;
	display: block;
	position: relative;
	border-bottom: solid 1px #D9D9D9;
}

.border-title {
	 margin-top: 78px;
	display: block;
	margin-bottom: 20px;
	font-size: 24px;
}

.termsSec {
	margin: 0 auto;
	width: 1100px;
}

.title {
	margin: 60px auto 0 auto;
	font-size: 20px;
	width: 1000px;
}

.titleImg {
	width: 24px;
	height: 24px;
	float: left;
}

.chk {
	margin: 10px auto 0 auto;
	margin-bottom: 50px;
	text-align: right;
	width: 1000px;
}

.allCheck {
	margin: 80px auto 0 auto;
	text-align: center;
	width: 1000px;
}

.btnDiv {
	margin: 20px auto 50px auto;
	text-align: center;
	width: 1000px;
}

.nextBtn {
	border:none;
	padding: 2px 21px 6px 21px;
	width: 150px;
	height: 40px;
	border-radius: 3px;
	background: #1A2C82;
	color: #C7E3FF;
	cursor: pointer;
}

.cancelBtn {
	border:none;
	padding: 2px 21px 6px 21px;
	width: 150px;
	height: 40px;
	border-radius: 3px;
	background: #EEEEEE;
	color: #1A2C82;
	cursor: pointer;
}