@charset "UTF-8";
.body-inner{
	width: 100%;
	height:900px;
	margin: 0 auto;
	position: relative;
	background: #333;
}
.commonBack{
	background: #333;
	width: 100%;
	height: 900px;
	position: absolute;
}
.commonDiv{
	width: 1100px;
	height: 616px;
	flex-shrink: 0;
	padding-top: 210px;
	margin: 0 auto;
	marign-bottom: 30px;
}
.commonTop{
	display: flex;
	width: 1100px;
	height: 50px;
	justify-content: center;
	align-items: flex-start;
	flex-shrink: 0;
	background: #1A2C82;
}
.commonTop label{
	display: flex;
	width: 366.6px;
	height: 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.9px;
}
.commonMid{
	background: #FFF;
	width: 1100px;
	height: 566px;
	flex-shrink: 0;
}
.content{
	width: 1100px;
	height: 566px;
}

.selectDateBox{
	height: 120px;
	border-bottom: 1px solid #1A2C82;
	text-align: center;
}

.selectDate{
	margin-left:142px;
	margin-right:142px;
	height:120px;
	display: flex;
}

.date0{flex: 1;}
.date1{flex: 1;}
.date2{flex: 1;}
.date3{flex: 1;}
.date4{flex: 1;}
.date5{flex: 1;}
.date6{flex: 1;}
.date7{flex: 1;}
.date8{flex: 1;}
.date9{flex: 1;}

.ta123{
	margin-top: 40px;
}

.ta123 tr th{
	width:74px;
	
}