@charset "UTF-8";
.body-inner{
	width: 100%;
	height:900px;
	margin: 0 auto;
	position: relative;
	background: #333;
}
.commonBack{
	background: #333;
	width: 100%;
	height: 900px;
	position: absolute;
}
.commonDiv{
	width: 1100px;
	height: 616px;
	flex-shrink: 0;
	padding-top: 210px;
	margin: 0 auto;
	marign-bottom: 30px;
}
.commonTop{
	display: flex;
	width: 1100px;
	height: 50px;
	justify-content: center;
	align-items: flex-start;
	flex-shrink: 0;
	background: #1A2C82;
}
.commonTop label{
	display: flex;
	width: 366.6px;
	height: 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.9px;
}
.commonMid{
	background: #FFF;
	width: 1100px;
	height: 566px;
	flex-shrink: 0;
}
.content1{
	flex:1;
	height: 566px; 
	float:left;
}
.content2{
	flex:2.8;
	height: 566px;
	float:left;
	border-left: 1px solid #1A2C82;
}.content1 .selectboxdiv{
	padding-top:10px; 
	text-align: center;
}

.ticketingOrderSelectBox{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
}

.playingmovieListBox{
	margin-top:10px;
	height:530px;
}

.playingmovieList{
	overflow:auto;
	margin-left:20px;
	margin-right:20px;
	margin-top: 20px;
	height:500px;
	border: 1.5px solid #D9D9D9;
	
}

.playingmovie{
	width: 247px;
	border-bottom: 1px solid #D9D9D9;
	display: flex;
	cursor: pointer;
}

.playingmovie:hover{
	background-color: D9d9d9;
}

.playingmovie_imgDiv{ 
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left: 10px;
	
}

.playingmovie_img{
	width: 35px;
	height: 35px;
	
}

.playingmovie_nameDiv{
	display: flex;
	width:170px;
	margin-left: 10px;
	
	
	display: flex;
	align-items:center; 
}

.playingmovie_name{
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	color:black;
}

.cursorblack{
	color: black;
}

.cursorblack:link{
	color : black;
}

.cursorblack:visited{
	color : black;
}

.cursorblack:hover {
  	color : black;
}

.cursorblack:active {
  color : black;
}

.selectDateBox{
	height: 120px;
	border-bottom: 1px solid #1A2C82;
	text-align: center;
}

.selectDate{
	margin-left:142px;
	margin-right:142px;
	height:120px;
	display: flex;
}

.date0{flex: 1;cursor: pointer;}
.date1{flex: 1;cursor: pointer;}
.date2{flex: 1;cursor: pointer;}
.date3{flex: 1;cursor: pointer;}
.date4{flex: 1;cursor: pointer;}
.date5{flex: 1;cursor: pointer;}
.date6{flex: 1;cursor: pointer;}

.cursorblack{
	color: black;
}

.cursorblack:link{
	color : black;
}

.cursorblack:visited{
	color : black;
}

.cursorblack:hover {
  	color : black;
}

.cursorblack:active {
  color : black;
}

.ta123{
	margin-top: 40px;
	cursor: pointer;
}

.ta123 tr th{
	width:74px;
	cursor: pointer;
	
}

.selectDateToPlayingMovie{
	width:802px;
	height: 445px;
	overflow:auto;
}

.imgandmovietitle{
	margin-left: 50px;
	margin-top: 50px;
	display: flex;
}

.selectimgDiv{
	width: 40px;	
}
.selectnameDiv{
	float: left;
	display: flex;
}

.selectmovie_img{
	width: 35px;
	height: 35px;
}

.selectmovie_name{
	padding-top:7px;
	font-size: 19px;
	font-weight: bold;
}

.movieTime{
	margin-left: 50px;
	margin-top: 10px;
}
.selectMovieTimeDiv{
	overflow:auto;
}

.sTimeC{
	padding: 11px 8px 11px 8px;
	margin-right: 20px;
	text-align : center;
	margin-top: 12px;
	margin-bottom :13px; 
	width: 110px;
	height:45px;
	border: 1px solid #D9D9D9;
	display: inline-block;
	background-color:#FBFBFB;
	border-radius: 5px;
}

.sTimeC_2line{
	margin-top: 7px;
	font-size: 12px;
}
