@charset "UTF-8";
	/**GRAY BAR*/
a{
text-decoration: none;
color: 333333;
}
.gray-bar{
    width: 100%;
    height: 14px;
    background-color: #F7F8F9;
    padding: 8px 8px 16px 8px;
    margin-top: 120px;
}
.gray-bar .location{
    width: 1100px;
    margin: 0 auto;
}
.gray-bar .location .home{
    margin-left: 0;
    color: #666666;
    font-size: 14px;
}
.gray-bar .location a{
    color: #666666;
    text-decoration: none;
        font-size: 14px;
}
.location a::before{
    content: ' >';
    color:#666666;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
	/**BORDER BAR*/
	.border-bar {
		margin-top: 300px;
		width: 1100px;
		margin: 0 auto;
		display: block;
		position: relative;
		border-bottom: solid 1px #D9D9D9;
	}

	.border-title {
		margin-top: 78px;
		display: block;
		margin-bottom: 20px;
		font-size: 24px;
	}
.body-inner {
	width: 1100px;
	margin: 0 auto;
	height:700px;
	position: relative;
}
.deleteForm{
	width: 949px;
	height: 494px;
	flex-shrink: 0;
	padding-top: 43px;
	justify-content: center; /* 세로 중앙 정렬 */
	align-items: center; /* 가로 중앙 정렬 */
	margin:0 auto; /* 수평 가운데 정렬 */

}
.deleteTextForm{
	display: flex;
	width: 949px;
	height: 319px;
	align-items: center;
	align-content: center;
	gap: 20px 10px;
	flex-shrink: 0;
	flex-wrap: wrap;
	background: #F4F4F4;
	justify-content: center; /* 세로 중앙 정렬 */
	align-items: center; /* 가로 중앙 정렬 */
	margin: 0 auto; /* 수평 가운데 정렬 */
}
.deleteText{
	width: 898px;
	height: 240px;
	flex-shrink: 0;
	padding: 0px 25px 28px 25px;
}
.text1{
	padding-bottom: 18px;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 520;
	line-height: normal;
}
.text2{
	width: 898px;
	height: 196px;
	flex-shrink: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
.checkBox{
	display: inline-flex;
	padding: 0px 10px 0px 0px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	justify-content: left; /* 세로 중앙 정렬 */
	align-items: center; /* 가로 중앙 정렬 */
	margin: 0 auto; /* 수평 가운데 정렬 */
	width: 949px;
	height: 79px;
	flex-shrink: 0;
}
.checkBox label{
	color: #000;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.checkBox input{
	width: 19px;
	height: 19px;
	flex-shrink: 0;
	margin-right: 10px;

}
.cancel{
	width: 150px;
	height: 40px;
	padding: 10px 15px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border:none;
	border-radius: 5px;
	background: #1A2C82;
	color: #FFF;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;	
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}
.submit{
	width: 150px;
	height: 40px;
	padding: 10px 15px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 5px;
	background: #EEE;
	border:none;
	color: #1A2C82;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	float: left;
	cursor: pointer;
}
.btn{
	display: flex;
	width: 949px;
	height: 77px;
	justify-content: center;
	align-items: flex-end;
	gap: 31px;
	flex-shrink: 0;
}