@charset "UTF-8";
.bannerViewDiv{
	margin-left:200px;
	width: 750px;
	height: 300px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 3px solid #C7E3FF;
	background: #FFF;
	margin-bottom: 50px;
	display : flex;
    justify-content: center;
    align-items : center;
}
.bannerMid{
	margin-top:150px;
	width:400px;
	height: 300px;
	display: flex;
}

.mainbanner{
	width:150px;
	height:150px;
	border: 2px solid black;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.arrow-next{
	margin-top:40px;
	margin-left:10px;
	position: relative;
    float:left;
    width:100px;
    height:100px;
    margin-right:5px;
    float: left;
}
.arrow-next::after {
    position: absolute;
    left: 10px; 
    top: 20px; 
    content: '';
    width: 40px; /* 사이즈 */
    height: 40px; /* 사이즈 */
    border-top: 5px solid #C5C5C5; /* 선 두께 */
    border-right: 5px solid #C5C5C5; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

.sidebanner{
	margin-top:25px;
	position: relative;
	width:120px;
	height:120px;
	border: 2px solid black;
	float: left;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.bannerUpdateFormDiv{
	margin-left:200px;
}

.bannerUpdateFormDiv input[type=text]{
	margin-left:10px;
	margin-bottom:20px;
	width: 690px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	gap: 10px;
	padding-left: 7px;
}

.bannerUpdateSumit{
	padding-top:20px;
	text-align: right;
}

.bannerUpdateSumit input[type=button]{
    border:none;
    padding: 2px 21px 6px 21px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background: #EEEEEE;
    color: #1A2C82;
    cursor: pointer;
}

.bannerUpdateSumit input[type=submit]{
    border:none;
    padding: 2px 21px 6px 21px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background: #1A2C82;
    color: #C7E3FF;
    cursor: pointer;
}