@charset "UTF-8";
.paging {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #2E90FF;
	font-weight: normal;
}

.nowPage {
	color: #2E90FF !important;
	font-weight: bold;
}
.subject{
	width: 750px;
}
.idxTd{
	width: 150px;
}
.type{
	width: 150px;
}
