@charset "UTF-8";
.paging {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #2E90FF;
	font-weight: normal;
}

.nowPage {
	color: #2E90FF !important;
	font-weight: bold;
}
.idTd{
	width: 55px;
}
.genderTd{
	width: 30px;
}
.nyTd{
	width: 50px;
}
.dateTd{
	width: 85px;
}
.telTd{
	width: 100px;
}