@charset "UTF-8";
.movieAddbox{
	width: 1100px;
	height:800px;
	margin-left: 100px;
}

.movieAddform{
	width: 1100px;
	height:750px;
	
	display: flex;
}
.movieAddform th{
	font-size: 20px;
	
}

.movieAddImgDiv{
	flex:1;
	height: 700px;
	float: left;
	text-align: center;
}

#moviePosterDiv{
	display:inline-block;
	margin-top: 50px;
}

.moviePosterImg{
	width: 225px;
	height: 300px;
	border:1px solid #D9D9D9;
	object-fit: contain;
}
#moviePreview0{
	width: 225px;
	height: 300px;
	object-fit: contain;
}

#movieStillCutDiv{
	margin-top: 30px;
}
.movieStillCutImgandbutton{
	width: 180px;
	height: 150px;
	float: left;
	
}
.movieStillCutImgandbutton1{
	display:inline-block;
	width: 180px;
	height: 150px;
}


.movieStillCutImg{
	width: 100px;
	height: 100px;
	border:1px solid #D9D9D9;
	object-fit: contain;
}
.movieStillCutImg img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	
}

#moviePreview1{
	object-fit: contain;
}

.movieAddTextDiv{
	flex:1;
	height: 730px;
	float: left;
}

#movieAddTextDivTable{
	margin : 0px auto;
}

#movieAddTextDivTable th{text-align: right;padding-right: 20px;}

#movieAddTextDivTable input[type=text]{
	width: 300px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	gap: 10px;
	padding-left: 7px;
}
#movieAddTextDivTable input[type=date]{
	width: 302px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	gap: 10px;
	padding-left: 7px;
}

#movieAddTextDivTable select{
	width: 311px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	padding-left: 7px;
}

#movieAddTextDivTable textarea{
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	width: 300px;
	height: 230px;
	padding-left:7px;
	font-family: '맑은 고딕';
	resize: none;
	
}

.movieAddSumit{
	padding-top:20px;
	text-align: right;
}

.movieAddSumit input[type=button]{
    border:none;
    padding: 2px 21px 6px 21px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background: #EEEEEE;
    color: #1A2C82;
    cursor: pointer;
}

.movieAddSumit input[type=submit]{
    border:none;
    padding: 2px 21px 6px 21px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background: #1A2C82;
    color: #C7E3FF;
    cursor: pointer;
}
#moviePosterDiv{
	text-align: center;
}

#moviePosterDiv label{
	text-align: center;
	display: inline-block;
	
}

.btn_moviePimg{
	margin-top:5px;
	border:none;
	width: 120px;
    height: 35px;
	border-radius: 3px;
	color: #C7E3FF;
	background: #1A2C82;
	text-align: center;
	justify-content: center;
    align-items: center;display: flex;
    cursor: pointer;
}

.btn_movieSimg{
	margin-left: 11.5px;
	
}


.btn_movieSimg{
	margin-top:5px;
	border:none;
	width: 80px;
    height: 30px;
    border-radius: 3px;
	background: #EEEEEE;
    color: #1A2C82;
    text-align: center;
    justify-content: center;
    align-items: center;display: flex;
    cursor: pointer;
}

#btn_movieposter{
	display: none;
}
#btn_movieSt1{
	display: none;
}
#btn_movieSt2{
	display: none;
}
#btn_movieSt3{
	display: none;
}
#btn_movieSt4{
	display: none;
}
#btn_movieSt5{
	display: none;
}


