@charset "UTF-8";
.btn_movie{
	border:none;
    width: 40px;
    height: 28px;
    border-radius: 3px;
    background: #EEEEEE;
    color: #1A2C82;
    cursor: pointer;
    text-align:center;
}

.paging {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.paging a:hover{
	color: #324ABC;
	font-weight: normal;
}

.nowPage {
	color: #324ABC !important;
	font-weight: bold;
}

.posterImg {
	width: 80px;
	height: 80px;
	border: 1px solid #cccccc;
	margin-top: 3px;
	margin-bottom: 3px;
}
.namewidthcss{
	width: 145px;
}


.actorwidthcss{
	width: 200px;
}
