@charset "UTF-8";
table {
	margin-left: 150px;
	width : 1000px;
	height: 600px;
	table-layout: fixed;	
}

table td {
	color: #333;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.playAddBtn {
	text-align: center;
	padding-right: 450px;
}

.playAddInput {
	color: #333;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 120px;
	height: 25px;
	padding: 8px 16px;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	border-radius: 12px;
	border: 3px solid #4186EF;
	background: #FFF;
}

.playAddInput2 {
	color: #333;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	width: 200px;
	height: 50px;
	padding: 8px 16px;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	border-radius: 12px;
	border: 3px solid #4186EF;
	background: #FFF;
}

.nextBtn {
   border:none;
   padding: 2px 21px 6px 21px;
   width: 150px;
   height: 40px;
   border-radius: 3px;
   background: #1A2C82;
   color: #C7E3FF;
   cursor: pointer;
}

.cancelBtn {
   border:none;
   padding: 2px 21px 6px 21px;
   width: 150px;
   height: 40px;
   border-radius: 3px;
   background: #EEEEEE;
   color: #1A2C82;
   cursor: pointer;
}

#playAdd3 {
	width: 350px;
}
