@charset "UTF-8";
.paging {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	padding-left: 500px;
}

.paging a:hover{
	color: #2E90FF;
	font-weight: normal;
}

.nowPage {
	color: #2E90FF !important;
	font-weight: bold;
}

.smallBtn {
	border:none;
	padding-bottom: 2px;
	width: 50px;
	height: 25px;
	border-radius: 3px;
	background: #EEEEEE;
	color: #1A2C82;
	cursor: pointer;
}