@charset "UTF-8";

.checkbox-label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        
        input[type="checkbox"] {
            display: none;
        }
        
        input[type="checkbox"] + label {
		display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
		border: 2px solid #bcbcbc;
		cursor: pointer;
		}
        
        input[type="checkbox"] + label{
            background-color: #cccccc36;
        }

        
        input[type="checkbox"]:checked + label{
            background-color: #666666;
            color: white;
        }
        
        .blockbutton1 {
		  border-radius: 5px;
		  border-style: solid;
		  border-color: #1a2c82;
		  border-width: 1px;
		  background-color: white;
		  padding: 10px 63px 10px 63px;
		  display: flex;
		  flex-direction: row;
		  gap: 10px;
		  align-items: center;
		  justify-content: center;
		  flex-shrink: 0;
		  width: 131px;
		  position: relative;
		  overflow: hidden;
		  color: #000000;
		  cursor: pointer;
		  margin-top: 30px;
		  margin-left: 20px;
		}
		
		.blockbutton2 {
		  border-radius: 5px;
		  border-style: solid;
		  border-color: #1a2c82;
		  border-width: 1px;
		  background-color: white;
		  padding: 10px 63px 10px 63px;
		  display: flex;
		  flex-direction: row;
		  gap: 10px;
		  align-items: center;
		  justify-content: center;
		  flex-shrink: 0;
		  width: 131px;
		  position: relative;
		  overflow: hidden;
		  color: #000000;
		  cursor: pointer;
		  margin-left: 20px;
		}
		
		.submit {
		  background: #1a2c82;
		  border-radius: 5px;
		  border-style: solid;
		  border-color: #1a2c82;
		  border-width: 1px;
		  padding: 10px 63px 10px 63px;
		  display: flex;
		  flex-direction: row;
		  gap: 10px;
		  align-items: center;
		  justify-content: center;
		  flex-shrink: 0;
		  width: 131px;
		  position: relative;
		  overflow: hidden;
		  cursor: pointer;
		  color: white;
		  margin-left: 20px;
		}
		
		
		input[type="number"]{
		width: 120px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
		}
		
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: inner-spin-button;    
		    opacity: 1;
		    width: 20px;
    		height: 20px;
		}
		
		.nameAdd{
		width: 120px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
		}
		
		.seate{
		float: left;
		margin-top: 10px;
		margin-left: 20px;
		}
		
		.addbutton{
			margin-top:20px;
		}		
		
		.controller{
		margin-left: 20px;
		}