<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- mybatis -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@java-yong.iptime.org:9000:orcl"></property>
		<property name="username" value="project01"></property>
		<property name="password" value="project01"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:/mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"></constructor-arg>
	</bean>
	
	<!-- daos -->
	<bean id="movieDao" class="com.amor.movie.model.MovieDAOImple">
    	<constructor-arg ref="sqlSessionTemplate"></constructor-arg>
	</bean>
	<bean id="memberDao" class="com.amor.member.model.MemberDAOImple">
    	<constructor-arg ref="sqlSessionTemplate"></constructor-arg>
	</bean>
	<bean id="playingMoiveDao" class="com.amor.playingMovie.model.PlayingMovieDAOImple">
		<constructor-arg ref="sqlSessionTemplate"></constructor-arg>
	</bean>
	<bean id="productDao" class="com.amor.product.model.ProductDAOImple">
		<constructor-arg ref="sqlSessionTemplate"></constructor-arg>
	</bean>
	<bean id = "adminDao" class = "com.amor.admin.model.AdminDAOImple">
		<constructor-arg ref = "sqlSessionTemplate"></constructor-arg>
	</bean>

	<!-- services -->
	<bean id="movieService" class="com.amor.movie.service.MovieServiceImple" >
		<constructor-arg ref="movieDao"></constructor-arg>
	</bean>
	<bean id="memberService" class="com.amor.member.service.MemberServiceImple">
		<constructor-arg ref="memberDao"></constructor-arg>
	</bean>
	<bean id="playingMovieService" class="com.amor.playingMovie.service.PlayingMovieServiceImple">
		<constructor-arg ref="playingMoiveDao"></constructor-arg>
	</bean>
	<bean id="productService" class="com.amor.product.service.ProductServiceImple">
		<constructor-arg ref="productDao"></constructor-arg>
	</bean>
	<bean id = "adminService" class = "com.amor.admin.service.AdminServiceImple">
		<constructor-arg ref = "adminDao"></constructor-arg>
	</bean>
	
</beans>